{{!< default}}
<header class="biojs-light-green biojs-white-text">
  <div class="container">
  <div class="row">
     <div class="col s12 mt-1">
       {{#get "posts" filter="title:about-header"}}
          {{#foreach posts}}
              {{content}}
          {{/foreach}}
       {{/get}}
     </div>
  </div>
</header>
<main class="about">
    <section>
      <div class="container">
        {{#get "posts" filter="tags:about"}}
          {{#foreach posts}}
        <div class="row">
          <div class="col s12">
            <h2 class="light">{{title}}<i class="material-icons biojs-pink-text left">{{meta_description}}</i></h2>
            {{content}}
            <hr class="mt-2" />
          </div>
        </div>
          {{/foreach}}
          {{/get}}
      </div>
    </section>
    <section class="biojs-black pb-2">
      <div class="container">
        <div class="row pt-2">
          <div class="col s12">
            <h2 class="light biojs-white-text">Principal Investigators</h2>
          </div>
        </div>
        <div class="row mb-0">
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card manny">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "img/mentors/manuel.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Manuel Corpas<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Manuel Corpas (TGAC)<i class="material-icons right">close</i></span>
                <p>Manuel is the Plant and Animal Genomes Project Leader at the bioinformatics driven 
                Genome Analysis Centre in Norwich, UK and one of the main driving forces for the 
                BioJS project since several years.</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/placeholder.png"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Henning Hermjakob<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Henning Hermjakob (EBI)<i class="material-icons right">close</i></span>
                <p>Henning is the Team Leader of the Proteomics Services at the EMBl-EBI and an advocate of open-source and open-data approaches in bioinformatics.</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
        <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "img/mentors/placeholder.png"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Suzi Lewis<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Suzi Lewis (Berkeley Lab)<i class="material-icons right">close</i></span>
                <p>Suzi is a scientist and head of the Berkeley Bioinformatics Open-source Projects based at Lawrence Berkeley National Laboratory.</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
        </div>
      </div>
    </section>
    <section class="biojs-light-green">
      <div class="container">
        <div class="row">
          <div class="col s12 mt-2">
            <h2 class="light biojs-white-text">BioJS Core Team</h2>
            <p class="biojs-white-text">Developers from all around the world have been participating in the further development
            of BioJS and its resources since the very beginning of the project.</p>
          </div>
        </div>
        <div class="row">
       <!-- <div class="contributors" id="contribute"><!-- x --><!-- </div> -->
          <!-- team member card -->
        <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "img/mentors/jessicajordan.jpeg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Jessica Jordan<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Jessica Jordan (TGAC)<i class="material-icons right">close</i></span>
                <p>Jessica is a web developer in the BioJS project, working at The Genome Analysis Centre (TGAC), Norwich
                UK. She is responsible for the UI optimization of both BioJS components and the project's
                resources, as well as the organization of workshops and tutorials teaching about the library.</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/miguel.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Miguel Pignatelli<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Miguel Pignatelli (EMBL-EBI)<i class="material-icons right">close</i></span>
                <p>Miguel Pignatelli is a Javascript developer at the Centre for Therapeutic
Target Validation (CTTV) and has contributed to BioJS with several
projects.</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "img/mentors/leyla.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Leyla Garcia<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Leyla Garcia (EMBL-EBI)<i class="material-icons right">close</i></span>
                <p>Leyla is a software engineer at EMBL-EBI and organizes events around the BioJS project. She 
            has been mentoring a multitude of students in programming
            throughout her academic career.</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "img/mentors/tatyana.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Tatyana Goldberg<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Tatyana Goldberg (TUM)<i class="material-icons right">close</i></span>
                <p>Tatyana is a PhD student at Rostlab, Technical University of Munich and organizes workshops and training programmes
                around BioJS.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- team member card -->
       <div class="col s12 m3">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/placeholder.png"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Carlos Horro Marcos<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Carlos Horro Marcos<i class="material-icons right">close</i></span>
                <p>Carlos is a bioinformatician at the Genome Analysis Centre, Norwich, UK and an active 
                participant in the technical decisions regarding the BioJS project.</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/daviddao.jpg"}}"">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">David Dao<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">David Dao<i class="material-icons right">close</i></span>
                <p>David is a developer and active BioJS contributor at the Broad Institute of MIT &amp; Harvard in Cambridge, MA and involved
                in the technical roadmap of BioJS.</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/daniel.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Daniel Teixeira<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Daniel Teixeira<i class="material-icons right">close</i></span>
                <p>Daniel is a bioinformatician and developer at the Swiss Insitute of Bioinformatics</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/dennis2.png"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Dennis Schwartz<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Dennis Schwartz<i class="material-icons right">close</i></span>
                <p>Dennis is a master student at the Technical University of Munich and has not only
                been contributing his own components to the BioJS library, but also maintains the project's
                resources, organizes workshops and tutorials and creates images and illustrations around the project.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
         <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/gustavo.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Gustavo Salazar<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Gustavo Salazar<i class="material-icons right">close</i></span>
                <p>Gustavo is a developer and workshop organizer mentor at the BioJS project, as well as 
                a PhD student at the University of Cape Town.</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card seb">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/seb.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Sebastian Wilzbach<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Sebastian Wilzbach<i class="material-icons right">close</i></span>
                <p>Sebastian has been one of the most active contributors to the BioJS 
                project and was highly involved in the release of BioJS 2.0. He still participates in main technical
                decisions about BioJS roadmap and maintains many of its resources.</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/jose.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Jose Villaveces<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Jose Villaveces<i class="material-icons right">close</i></span>
                <p>Jose is a PhD student in Bioinformatics and an active contributor to the BioJS library. He organizes and mentors
                workshops around BioJS as well.</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/yo.jpg"}}"">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Yo Yehudi<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Yo Yehudi (U Cambridge)<i class="material-icons right">close</i></span>
                <p>Yo is a software developer at the Dept. of Genetics at University of Cambridge. She is actively involved in the technical roadmapping of the BioJS project.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/placeholder.png"}}"">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Guy Yachdav<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Guy Yachdav (TUM)<i class="material-icons right">close</i></span>
                <p>Guy has over ten years experience of various software, database and information system development</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/placeholder.png"}}"">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Michiel Helvensteijn<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Michiel Helvensteijn (UCL)<i class="material-icons right">close</i></span>
                <p>Michiel is a PhD student at Leiden University, Netherlands.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/placeholder.png"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Rowland Mosbergen<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Rowland Mosbergen (Stemformatics)<i class="material-icons right">close</i></span>
                <p>Rowland is a web developer at Stemformatics and involved in the technical planning of BioJS' roadmap<br /></p>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "img/mentors/martin.png"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Martin Page<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Martin Page<i class="material-icons right">close</i></span>
                <p>Martin is an active BioJS contributor working at the Sainsbury Laboratory in Norwich, UK. He 
                is involved in the technical roadmap of the project and helps with the maintenance of its resources.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "img/mentors/placeholder.png"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Mate Szalay-Beko<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Mate Szalay-Beko (TGAC)<i class="material-icons right">close</i></span>
                <p>...</p>
              </div>
            </div>
          </div>
        </div>
       </div>
     </section>
     <section>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h2 class="light">Further BioJS Contributors</h2>
          </div>
        </div>
        <div class="row">
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "img/mentors/tim.jpeg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Tim Ruffles<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Tim Ruffles<i class="material-icons right">close</i></span>
                <p>Tim is founder of SidekickJS. JavaScript trainer and instructor for Angular, D3, Node and Backbone. Maintainer of the beautiful JavaScript Garden</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/doug.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Doug Blank<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Doug Blank<i class="material-icons right">close</i></span>
                <p>Doug Blank is an Associate professor of Computer Science at Bryn Mawr College, PA, USA.
                He has used IPython in his unversity courses 
                for quite a few years and is an active contributor to IPython / Jupyter</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
       <div class="col s12 m3">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/placeholder.png"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Pierre-Andre Michel<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Pierre-Andre Michel<i class="material-icons right">close</i></span>
                <p>Pierre-Andre is a bioinformatician and team leader of the neXtProt working group at the Swiss Insitute of Bioinformatics</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/benedikt.jpg"}}"">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Benedikt Rauscher<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Benedikt Rauscher (DKFZ)<i class="material-icons right">close</i></span>
                <p>Benedikt is a web developer at the German Cancer Research Centre in Heidelberg, Germany and has been 
                contributing to the project with several visualizing components.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/simon.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Simon Jupp<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Simon Jupp<i class="material-icons right">close</i></span>
                <p>Simon has degrees in both Biochemistry and Computer Science and now work somewhere between both disciplines. His research interests are generally related to information management, but more specifically, using computers to improve the way we capture, manage and share knowledge about biology. Most of his work is now focused
                on the use of ontologies to capture knowledge in some computationally useful form.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/fumis.jpg"}}"">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Luca Fumis<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Luca Fumis<i class="material-icons right">close</i></span>
                <p>Luca Fumis is a web developer at the Centre for Therapeutic Target
Validation (CTTV) and a contributor to several BioJS projects.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <a target="contrib" class="mt-2 mb-2 btn waves-effect waves-light action" href="https://github.com/biojs/biojs/graphs/contributors">more</a>
          </div>
        </div>
        <hr class="mt-2"/>
      </div>
     </section>
     <section class="container">
      <div class="row mb-0">
        <div class="col s12">
           <p class="center"><i class="material-icons large biojs-light-green-text">whatshot</i></p>
        </div>
      </div>
      <div class="row center">
        <div class="col s12">
          <h2 class="light">Stay up-to-date with developments in BioJS</h2>
        </div>
        <div class="col s12 m6">
           <p><a href="https://twitter.com/biojslibrary" class="weak-action waves-effect waves-blue btn-large">Follow us on Twitter</a></p>
        </div>
        <div class="col s12 m6">
          <p><a href="http://biojs-slackin.herokuapp.com/" class="action waves-effect waves-blue btn-large">Ask us on slack chat</a></p>
        </div>
      </div>
     </section>
     <script data-cfasync="false" src="{{asset "/js/git-contributors.js"}}"></script>
</main>