{{!< default}}
<header class="">
  <div class="container">
  <div class="row">
     <div class="col s12 mt-1">
       <img class="responsive-img" src="{{asset "/img/landscapes/GSoC2016Logo.jpg"}}" alt="GSoC Logo BioJS application 2016" />
     </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h1 class="brand-title light biojs-pink-text">BioJS in GSoC 2016</h1>
    </div>
  </div>
  <div class="row pb-2 mb-0">
    <div class="col s12 m7">
      BioJS is aiming to mentor ambitious students from all around the world again for this year's Google
       Summer of Code. We are looking forward to your applications for our many projects involving
       modern web technologies relevant for academic work and our vivid open-source community.
    </div>        
    <div class="col s12 m5">
      <p><a class="waves-effect waves-blue btn-large disabled uppercase">Applications opening soon</a></p>
    </div>
  </div>
  </div>
</header>
<main class="gsoc">
    <section>
      <div class="container">
      <hr />
        <div class="row">
          <div class="col s12">
            <h2 class="light">Our project ideas for 2016</h2>
            <ul class="collapsible popout biojs-black-text" data-collapsible="accordion">
              {{#get "posts" filter="tags:gsoc-project"}}
                {{#foreach posts}}
                  <li>
                    <div class="collapsible-header biojs-pink-text"><i class="material-icons biojs-pink-text">school</i>{{title}}</div>
                    <div class="collapsible-body">
                      {{content}}
                    </div>
                  </li>
                {{/foreach}}
               {{/get}}
            </ul>
          </div>
        </div>
        <hr />
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col s12 pb-1">
            <h2 class="light">Who are the people behind BioJS?</h2>
            <p>We are an international team developing beautiful, interactive and easy-to-share JavaScript applications to visualize biological data on the web. 
            We are looking for ambitious and motivated students who wish to spend their summer collaborating with us on the projects described below.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="biojs-green">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h2 class="light biojs-white-text">Our mentors</h2>
          </div>
        </div>
        <div class="row">
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "img/mentors/leyla.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Leyla Garcia<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Leyla Garcia<i class="material-icons right">close</i></span>
                <p>Leyla is a software engineer at EMBL-EBI and organizes events around the BioJS project. She 
            has been mentoring a multitude of students in programming
            throughout her academic career.<br />
            Projects to mentor: Web Components Integration in BioJS,
            RDF Scgeme and Path Finder <br />
            Contact: ljgarcia@ebi.ac.uk</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/miguel.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Miguel Pignatelli<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Miguel Pignatelli<i class="material-icons right">close</i></span>
                <p>Miguel Pignatelli is a Software Developer at Ensembl (EMBL-EBI)<br />
                   Projects to mentor: Web Components Integration in BioJS,
                   Visualisation of target-disease relationships in drug discovery, Bionode integration <br />
                   Contact: mp@ebi.ac.uk</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/simon.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Simon Jupp<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Simon Jupp<i class="material-icons right">close</i></span>
                <p>Simon has degrees in both Biochemistry and Computer Science and now work somewhere between both disciplines. His research interests are generally related to information management, but more specifically, using computers to improve the way we capture, manage and share knowledge about biology. Most of his work is now focused
                on the use of ontologies to capture knowledge in some computationally useful form.
                <br />
                   Projects to mentor: RDF Schema and Path Finder <br />
                   Contact: jupp@ebi.ac.uk</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/bmpvieira.jpg"}}"">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Bruno Vieira<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Bruno Vieira<i class="material-icons right">close</i></span>
                <p>Bioinformatics PhD student at Queen Mary University of London and Node.JS Web Developer. 
                Working on population genomics, bionode.io and dat-data.com<br/>
                Projects to mentor: Bionode integration<br />
                Contact: mail@bmpvieira.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "img/mentors/tim.jpeg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Tim Ruffles<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Tim Ruffles<i class="material-icons right">close</i></span>
                <p>Tim is founder of SidekickJS. JavaScript trainer and instructor for Angular, D3, Node and Backbone. Maintainer of the beautiful JavaScript Garden<br />
                Projects to mentor: iPython <br />
                Contact: oi@truffles.me.uk</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/doug.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Doug Blank<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Doug Blank<i class="material-icons right">close</i></span>
                <p>Doug Blank is an Associate professor of Computer Science at Bryn Mawr College, PA, USA.
                He has used IPython in his unversity courses 
                for quite a few years and is an active contributor to IPython / Jupyter<br />
                Projects to mentor: iPython<br/>
                Contact: dblank@brynmawr.edu</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/jessicajordan.jpeg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Jessica Jordan<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Jessica Jordan<i class="material-icons right">close</i></span>
                <p>Jessica is a web developer in the BioJS project, working at The Genome Analysis Centre (TGAC), Norwich
                UK<br />
            Projects to mentor: Visualisation of target-disease relationships in drug discovery <br />
            Contact: jessica.jordan@tgac.ac.uk</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/daniel.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Daniel Teixeira<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Daniel Teixeira<i class="material-icons right">close</i></span>
                <p>Daniel is a bioinformatician and developer at the Swiss Insitute of Bioinformatics
                <br />
                Projects to mentor: Generic protein expression view for Human Body with real-case implementation at neXtProt and publishing in BioJS<br />
                Contact: Daniel.Teixeira@isb-sib.ch</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "img/mentors/ben2.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Ben White<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Ben White<i class="material-icons right">close</i></span>
                <p>Ben has a Bsc (Hons) in Biological Sciences from the University of East Anglia and over two years experience managing high-throughput sequencing and analysis projects at The Genome Analysis Centre (TGAC). He is currently studying for a PhD on the visualisation of unreferenced crop genomes at TGAC.
                  <br />Projects to mentor: Plant immunity finder<br/>
                  Contact: Ben.White (at) tgac.ac.uk.</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/max.png"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Max Franz<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Max Franz<i class="material-icons right">close</i></span>
                <p>Max is a Software Engineer, specialising in user interface design. He designs and builds apps to be easy and enjoyable to use. He is the lead developer of Cytoscape.js
                  <br />Projects to mentor: Plant immunity finder<br />
                  Contact: mail (at) maxfranz.org</p>
              </div>
            </div>
          </div>
       <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/placeholder.png"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Pierre-Andre Michel<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Pierre-Andre Michel<i class="material-icons right">close</i></span>
                <p>Pierre-Andre is a bioinformatician and team leader of the neXtProt working group at the Swiss Insitute of Bioinformatics
                <br />
                Projects to mentor: Generic protein expression view for Human Body with real-case implementation at neXtProt and publishing in BioJS<br />
                Contact: Pierre-Andre.Michel@isb-sib.ch</p>
              </div>
            </div>
          </div>
        </div>
       </div>
     </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col s12 m6">
            <h2 class="light">How to apply</h2>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h3><i class="material-icons biojs-pink-text">star_border</i>Start early</h3>
            <p>Experience from other organisations has shown that the students often make a mistake converting the official 
            19:00 UTC deadline to their own timezone or have technical problems submitting during the final few seconds. 
            We very much want to receive your application and don’t want you to be disappointed or miss your chance of a great summer! 
            So please remember to submit early and then edit as often as you want before the deadline (27.03, 19:00 UTC).</p>
            <h3><i class="material-icons biojs-pink-text">star_border</i>Tell us about yourself</h3>
            <p>As we don’t know you, we would like to know more about your personality and what your passion is.
              Please let us know about the following:</p>
              <ul>
               <li>How can we contact you?</li>
               <li>How are your programming skills?</li>
               <li>Which projects have you worked on so far?</li>
               <li>Do you have any code samples? We are happy to check out code samples sent via mail or
               any github or other open source repository which you have contributed to</li>
               <li>Are you familiar with JavaScript/jQuery?</li>
               <li>Is there anybody who can vouch for your experience?</li>
              </ul>
              <p>We would also like to know about your academic experience so far:</p>
              <ul>
               <li>At wich university/college are you currently enrolled?</li>
               <li>At what year/semester are you? What is your major/degree/focus?</li>
               <li>Are you part of a research group?</li>
               <li>Have you had any lectures about Bioinformatics or Biochemistry?</li>
               <li>Are you familiar with JavaScript/jQuery?</li>
               <li>Have you contributed to any Open Source project before</li>
              </ul>
            <h3><i class="material-icons biojs-pink-text">star_border</i>Explain Your Goals</h3>
              <ul>
               <li>What exactly do you intend to do? Please be as specific as possible</li>
               <li>How do you plan to achieve it? What do you think might be tricky and which technologies would you like to use?</li>
               <li>What are your milestones for your project? We recommend to setup a timeline with weakly milestones you think are suitable</li>
              </ul>
            <h3><i class="material-icons biojs-pink-text">star_border</i>Communication</h3>
              <ul>
               <li>What is your ideal approach to keeping everybody informed of your progress, problems, and questions over the course of the project?</li>
               <li>What should be our strategy if you vanish during the project? How do you plan to plan to keep yourself on track?</li>
              </ul>
            <h3><i class="material-icons biojs-pink-text">star_border</i>Why BioJS?</h3>
              <ul>
               <li>Tell us what makes you excited to work on one of our BioJS projects!</li>
               <li>How do you envision your involvement with BioJS after the GSoC?</li>
              </ul>
            <h3><i class="material-icons biojs-pink-text">star_border</i>Some tips</h3>
              <ul>
               <li>Is there any special reason why we should pick you? Name it.</li>
               <li>Get in touch with us as soon as possible and post your ideas on our <a href="http://biojs-slackin.herokuapp.com/" target="slackin">slack chat</a>, <a href="https://groups.google.com/forum/#!forum/biojavascript">mailing list</a>, 
               <a href="https://gitter.im/biojs/biojs" target="gitter">gitter</a> or IRC channel #biojs on freenode.</li>
              </ul>
          </div>
        </div>
       </div>
     </section>
    <section class="biojs-green">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h2 class="light biojs-white-text">Our organisation admins</h2>
          </div>
        </div>
        <div class="row">
 <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "img/mentors/jessicajordan.jpeg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Jessica Jordan<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Jessica Jordan<i class="material-icons right">close</i></span>
                <p>Jessica is a web developer in the BioJS project, working at The Genome Analysis Centre (TGAC), Norwich
                UK<br />
            Projects to mentor: Visualisation of target-disease relationships in drug discovery <br />
            Contact: jessica.jordan@tgac.ac.uk</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "img/mentors/leyla.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Leyla Garcia<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Leyla Garcia<i class="material-icons right">close</i></span>
                <p>Leyla is a software engineer at EMBL-EBI and organizes events around the BioJS project. She 
            has been mentoring a multitude of students in programming
            throughout her academic career.<br />
            Projects to mentor: Web Components Integration in BioJS,
            RDF Scgeme and Path Finder <br />
            Contact: ljgarcia@ebi.ac.uk</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <!-- team member card -->
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{asset "/img/mentors/tatyana.jpg"}}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Tatyana Goldberg<i class="material-icons right">favorite</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Tatyana Goldberg<i class="material-icons right">close</i></span>
                <p>Tatyana is both a developer and organizer of workshops and former Google Summer of Code projects
                in BioJS
                <br />
                   Contact: goldberg@rostlab.org</p>
              </div>
            </div>
          </div>
          <!-- team member card -->
          <div class="col s12 m3">
            <p class="biojs-white-text">
              Our three organisation admins are looking forward to support both mentors
              as well as students in getting the most out of their Google Summer of Code. Contact
              us via e-mail or ask us on <a href="http://biojs-slackin.herokuapp.com/" target="slackin">slack!</a>
            </p>
          </div>
        </div>
       </div>
     </section>
     <section class="container">
      <div class="row mb-0">
        <div class="col s12">
           <p class="center"><i class="material-icons large biojs-light-green-text">whatshot</i></p>
        </div>
      </div>
      <div class="row center">
        <div class="col s12">
          <h2 class="light">Stay up-to-date with GSoC in BioJS</h2>
        </div>
        <div class="col s12 m6">
           <p><a href="https://twitter.com/biojslibrary" class="weak-action waves-effect waves-blue btn-large">Follow us on Twitter</a></p>
        </div>
        <div class="col s12 m6">
          <p><a href="http://biojs-slackin.herokuapp.com/" class="action waves-effect waves-blue btn-large">Ask us on slack chat</a></p>
        </div>
      </div>
     </section>
</main>