<section>
 <div class="container">
    <div class="row mb-0">
      <div class="col l6 hiding-frame hide-on-med-and-down">
        {{! <div id="gallery-wrapper" class="gallery-wrapper">
          <canvas style="background-color: rbga(200,200,80,0.3);" width="15" height="10" id="gallery-content" class="gallery-content">
          </canvas>
        </div> }}
        <p><img class="responsive-img" src="{{asset "/img/showcase/angularplasmid.png"}}" alt="Angularplasmid BioJS component" />
      </div>
     <div class="col l6 hide-on-med-and-down">
      <h3 class="light">The BioJS community created over 130 components for everyday's developer's use</h3>
      <p>The community is waiting for your input. Explore some of our most interesting components in our
      <a href="http://biojs.io/" target="registry">BioJS Registry</a>.</p>
    </div>
    </div>
 </div>
 <div class="row mb-0">
    <div class="col s12 fill hide-on-large-only">
      <div class="slider">
        <ul class="slides">
          <li>
            <div class="veil biojs-black"></div>
            <img class="responsive-img" src="{{asset "/img/showcase/msa.jpg"}}">
            <div class="caption center-align">
              <h3>Multiple Sequence Alignment</h3>
              <h5 class="light grey-text text-lighten-3">Visualize sequence alignments with the <a href="http://biojs.io/d/msa" target="devregistry">MSA BioJS component</a></h5>
            </div>
          </li>
          <li>
            <div class="veil biojs-black"></div>
            <img class="responsive-img" src="{{asset "/img/showcase/dnaism.jpg"}}">
            <div class="caption left-align">
              <h3>Genome browsing</h3>
              <h5 class="light grey-text text-lighten-3">Lightweight and easy with the <a href="http://biojs.io/d/cttv.genome" target="devregistry">CTTV Genome BioJS component</a></h5>
            </div>
          </li>
          <li>
            <div class="veil biojs-black"></div>
            <img class="responsive-img" src="{{asset "/img/showcase/cttvgenome.jpg"}}">
            <div class="caption right-align">
              <h3>Analysis of Genomic Data</h3>
              <h5 class="light grey-text text-lighten-3">Find interesting variants in your genomic data using the <a href="http://biojs.io/d/dnaism" target="devregistry">Dnaism BioJS component</a></h5>
            </div>
          </li>
          <li>
            <div class="veil biojs-black"></div>
            <img class="responsive-img" src="{{asset "/img/showcase/registry.jpg"}}">
            <div class="caption center-align">
              <h3>Find over 130 other components in the <a href="http://biojs.io" target="devregistry">BioJS registry</a></h3>
              <h5 class="light grey-text text-lighten-3"><a href="http://biojs.io" target="devregistry">Browse the registry</a></h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>
